{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Donate{% endblock %}
   
{% block content %}

<div class="container">
    
  </div>

  <!-- INCOMING REQUESTS -->


    <div class="center">
        <div class="row">
            <div class="col-md-6">
                {{request.request_date}}
                <div class="chip">
                    <img src="{% static 'bloodapp/img/eagle.jpg' %}" width="96">
                    {{request.message}}
                </div>
            </div>
            <div class="col-md-4 right">
                <button type="button" class="btn btn-primary">View <span class="badge"></span></button>
            </div>
        </div> 
   </div>
    
      <div class="center">
        <div class="row">
            <div class="col-md-6">
                {{request.request_date}}
                <div class="chip">
                    <img src="{% static 'bloodapp/img/eagle.jpg' %}" width="96">
                    {{request.message}}
                </div>
            </div>
            <div class="col-md-4 right">
                <button type="button" class="btn btn-primary">View <span class="badge"></span></button>
            </div>
        </div> 
   </div>
    
   
     <div class="center">
        <div class="row">
            <div class="col-md-6">
                {{request.request_date}}
                <div class="chip">
                    <img src="{% static 'bloodapp/img/eagle.jpg' %}" width="96">
                    {{request.message}}
                </div>
            </div>
            <div class="col-md-4 right">
                <button type="button" class="btn btn-primary">View <span class="badge"></span></button>
            </div>
        </div> 
   </div>
    
   
   
   
   

   {% endblock %}
