{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}incoming request{% endblock %}
   
{% block content %}
<div class="container">
    
</div>

  <!-- INCOMING REQUESTS -->
  {% for request in incoming_request %}
   <div class="center">
    
        <div class="userInfo text-center">
            <h4><strong>{{request.sender.username}}</strong></h4>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Reason For Request: {{request.get_reason_display}}</strong> </div>
                <div class="panel-body">{{request.message}}</div>
                <div class="panel-heading"><strong>Bloodgroup</strong> </div>
                <div class="panel-body">{{request.blood_type}}</div>
            </div>
            <div class="row">
                <button style="background-color: rgb(216, 24, 24); color: aliceblue;" type="button" class="btn btn-inverse ">Donate</button>
                <button type="button" class="btn btn-inverse">Refer</button>
            </div>
        </div>
     </div>
    {% empty %}
        <h4 style="text-align:center"><strong>No Incoming request recently</strong></h4>
    {% endfor%}
 
{% endblock %}