{% load static %}
<div  id="about" class="container">
  <div class="col-sm-8 wow fadeInUp">
    <h1 class="head animated fadeInDown "><strong>ABOUT US</strong></h1>
    <h4>0x0x0 is a platform that makes it easy for blood donnors and recipients to connect and make transactions easy.</h4>
    <p>Our platform simplies transactions for those seeking to donate blood, recipients or people who might make referals to others in neeed</p>
  </div>
  <div class="col-sm-4">
    <img class="  info" src="{% static 'bloodapp/img/children.jpeg' %}" style="border: solid 1px #d40404;">  
  </div>
</div>

  <div id="about">
    <div class="container-fluid2">
      
      <div class="row">
        <div class="col-md-4 text-center wow fadeInUp">
          <h1 class="head "><strong>DONATIONS</strong></h1>
          <h1 class="figures wow rubberBand" data-wow-offset="10"  data-wow-iteration="50"><strong>1000</strong></h1>
          <i class="fa fa-medkit fa-4x"></i>
        </div>
        <div class="col-md-4 text-center wow fadeInUp">
          <h1 class="head "><strong>USERS</strong></h1>
          <h1 class="figures wow rubberBand" data-wow-iteration="50" data-wow-offset="10"><strong>1000</strong></h1>
          <i class="fa fa-users fa-4x"></i>
        </div>
        <div class="col-md-4 text-center wow fadeInUp">
          <h1 class="head "><strong>REQUESTS</strong></h1>
          <h1 class="figures wow rubberBand" data-wow-iteration="50" data-wow-offset="10"><strong>1000</strong></h1>
          <i class="fa fa-medkit fa-4x"></i>
        </div>
      </div>
    </div>
  </div>