  {% load static %}
  <!-- ================== nav bar ================== -->
<div class="navbar-fixed">
    <nav class="black">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'bloodapp:homepage' %}" class="brand-logo  red-text darken-3" style="font-weight: bolder; font-style: oblique; font-family: monospace ;font-size: xx-larger;">LifeBit</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="{% url 'bloodapp:homepage' %}" >Home</a>
                    </li>
                {% if user.is_authenticated %}

                    <li>
                        <a href="{% url 'bloodapp:dashboard' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_donate' %}">Donate</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_refer' %}">Refer</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_request' %}">View-Request</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:incoming_request' %}">Notification</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodapp:profile' user.user_id %}">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">SignOut</a>
                    </li>

                    {% else %}
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                      <li>
                          <a href= "{% url 'account_login' %}" class="btn">Login</a>
                      </li>
                      <li>
                          <a href="{% url 'account_signup' %} " class="btn" style="background:red">Register</a>
                      </li>
                    {% endif %}
                </ul>

                {% if user.is_authenticated %}
                    <a href="" class="visible dropdown-trigger" data-target='dropdown1'><i class="fa fa-user-circle fa-2x fa-fw" aria-hidden="true"></i></a>
                    <a href="{% url 'bloodrequestapp:incoming_request' %}" class="visible"><i class="fa fa-bell"></i></a>
                {% else %}
                     <a href= "{% url 'account_login' %}" class="visible btn" style="background:red; margin-top: 10px;">JOIN</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>


<div class="container" >
    <ul id='dropdown1' class='dropdown-content black ' style="margin-top: 20px">
        <li ><a href="#!" class="red-text">dashboard</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!" class="red-text">donate</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!" class="red-text">refer</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="{% url 'bloodapp:profile' user.user_id %}" class="red-text">profile</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="{% url 'account_logout' %}" class=" red white-text">Logout</li>
    </ul>
</div>

<div class="container">
    <ul class="sidenav" id="mobile-nav">
        <li>
        <a href="{% url 'bloodapp:homepage' %}">Home</a>
        </li>
                {% if user.is_authenticated %}

                    <li>
                        <a href="{% url 'bloodapp:dashboard' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_donate' %}">Donate</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_refer' %}">Refer</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_request' %}">View-Request</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:incoming_request' %}">Notification</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodapp:profile' user.user_id %}">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">SignOut</a>
                    </li>

                    {% else %}
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    {% endif %}
    </ul>

</div>
