  {% load static %}
  <!-- ================== nav bar ================== -->
<div class="navbar-fixed">
    <nav class="black">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'bloodapp:homepage' %}" class="brand-logo">LifeBit</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="{% url 'bloodapp:homepage' %}">Home</a>
                    </li>
                {% if user.is_authenticated %}
                    
                    <li>
                        <a href="{% url 'bloodapp:dashboard' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_donate' %}">Donate</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_refer' %}">Refer</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_request' %}">View-Request</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:incoming_request' %}">Notification</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodapp:profile' user.user_id %}">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">SignOut</a>
                    </li>
                  
                    {% else %}
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                      <li>
                          <a href="{% url 'account_login' %}">Sign In</a>
                      </li>
                      <li>
                          <a href="{% url 'account_signup' %} ">Sign Up</a>
                      </li>
                    {% endif %}
                </ul>
              
             
            </div>
        </div>
    </nav>
</div>
 
<div class="container">
    <ul class="sidenav" id="mobile-nav">
        <li>
                        <a href="{% url 'bloodapp:homepage' %}">Home</a>
                    </li>
                {% if user.is_authenticated %}
                    
                    <li>
                        <a href="{% url 'bloodapp:dashboard' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_donate' %}">Donate</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_refer' %}">Refer</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:blood_request' %}">View-Request</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodrequestapp:incoming_request' %}">Notification</a>
                    </li>
                    <li>
                        <a href="{% url 'bloodapp:profile' user.user_id %}">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}">SignOut</a>
                    </li>
                  
                    {% else %}
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'account_login' %}">Sign In</a>
                    </li>
                    <li>
                        <a href="{% url 'account_signup' %} ">Sign Up</a>
                    </li>
                  
                      
                    {% endif %}
    </ul>    
</div>
 