  body{
    padding: 0;
    margin: 0;
    }
    


  .head{
        color:#d40404;
        font-family: 'Poppins';
      }

  .info{
   
    height: 100%;
    width: 100%;
}

.visible{
  display: block;
  float: right;
  padding: 0 14px;
  right: 0;
  top: 0;
  font-weight: bolder;
}

#myBtn{
  color: white;
  background-color: red;
  border-radius: 5px;
}
@media screen and (min-width: 600px){
            .visible{
                display: none;
            }
        }

  @media screen and (max-width: 600px){
      #myBtn{
          width: 100%;
      }
  }
