{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Home{% endblock %}

{% block extra_head %}

<style>
  body{
    padding: 0;
    margin: 0;
    }
    
  .jumbotron{
      padding: 200px;
      color: #ffffff;
      text-align: center;
      
      height: 600px;
      width: 100%;
      }

  .figures{
        font-family: 'poppins';
      }

  .bg-cover{
        background-image: url('{% static "bloodapp/img/bgMain.jpeg" %}');
      background-size: cover;
      color: white;
      background-position: center center;
      position: relative;
      z-index: -2;
      }

  .down{
        margin-top: 20px;
      }

  .overlay{
        background-color: #000;
        color: white;
        position: absolute;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
      }

  .head{
        color:#d40404;
        font-family: 'Poppins';
      }
</style>

{% endblock %}

{% block body %}

      <!--Section-->  
    <section class="slider">
        <ul class="slides">
            <li>
              <img src="{% static 'bloodapp/img/donate.jpg' %}"> <!-- random image -->
            </li>
            <li>
              <img src="{% static 'bloodapp/img/donate2.jpg' %}"> <!-- random image -->
            </li>
            <li>
              <img src="{% static 'bloodapp/img/donate3.jpg' %}"> <!-- random image -->
            </li>
        </ul>
    </section>
     

     <section class="section  black darken-1">
        <div class="container">
        </div> 
    </section>

    <section id="about" class="section section-about black darken-1 white-text center scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12 m6 l8">
              <h1 class=""><strong>ABOUT US</strong></h1>
                <h4>BitLifw is a platform that makes it easy for blood donnors and recipients to connect and make transactions easy.</h4>
                <p>Our platform simplies transactions for those seeking to donate blood, recipients or people who might make referals to others in neeed</p>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <img class="  info" src="{% static 'bloodapp/img/children.jpeg' %}" style="border: solid 1px #d40404; width: 200px; height: 200px;"> 
            </div>
          </div>
        </div> 
    </section>

    <section class="section section-icons grey lighten-2 center">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel ">
                        <i class="material-icons large teal-text">room</i>
                        <h3>Travel Shop</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, veniam?</p>
                    </div>   
                </div>
                <div class="col s12 m4">
                    <div class="card-panel ">
                        <i class="material-icons large teal-text">store</i>
                        <h3>Pick Where</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, veniam?</p>
                    </div>   
                </div>
                <div class="col s12 m4">
                    <div class="card-panel ">
                        <i class="material-icons large teal-text">airplanemode_active</i>
                        <h3>Fly Cheap</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, veniam?</p>
                    </div>   
                </div>
            </div>
        </div>
    </section>

{% endblock %}