{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Home{% endblock %}

{% block extra_head %}

<style>
  body{
    padding: 0;
    margin: 0;
    }
    
  .jumbotron{
      padding: 200px;
      color: #ffffff;
      text-align: center;
      
      height: 600px;
      width: 100%;
      }

  .figures{
        font-family: 'poppins';
      }

  .bg-cover{
        background-image: url('{% static "bloodapp/img/bgMain.jpeg" %}');
      background-size: cover;
      color: white;
      background-position: center center;
      position: relative;
      z-index: -2;
      }

  .down{
        margin-top: 20px;
      }

  .overlay{
        background-color: #000;
        color: white;
        position: absolute;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
      }

  .head{
        color:#d40404;
        font-family: 'Poppins';
      }

  .info{
   
    height: 100%;
    width: 100%;
}
</style>

{% endblock %}

{% block body %}
      <section class="section red darken-3 ">
        <div class="container">
        </div> 
      </section>
      <!--Section-->  
    <section class="slider">
        <ul class="slides">
            <li>
              <img src="{% static 'bloodapp/img/donate.jpg' %}"> <!-- random image -->
            </li>
            <li>
              <img src="{% static 'bloodapp/img/donate2.jpg' %}"> <!-- random image -->
            </li>
            <li>
              <img src="{% static 'bloodapp/img/donate3.jpg' %}"> <!-- random image -->
            </li>
        </ul>
    </section>
     

     <section class="section red darken-3">
        <div class="container">
        </div> 
    </section>

    <section id="about" class="section section-about black lighten-3 white-text center scrollspy">
        <div class="container">
          <div class="row">
            <h4 class="center">About <span class="red-text">BitLife</span></h4>
            <div class="col s12 m4 l4">
              <img class="info" src="{% static 'bloodapp/img/children.jpeg' %}" style="border: solid 1px #d40404;"> 
             
            </div>
            
            <div class="col s12 m2 l2">
            </div>
            <div class="col s12 m6 l6">
                <h5>BitLife is a platform that makes it easy for blood donors and recipients to connect and make transactions easly.</h5>
                <p>Our platform:</p>
                <ul >
                  <li>Simplifies transactions for those seeking to donate blood.</li>
                  <li>Permit individuals who make referals to others in need.</li>
                  <li>Connects recipients to possible donors.</li>
                </ul>
              </div>
            </div>
            
          </div>
        </div> 
    </section>

    <section class="section section-icons grey lighten-2 center">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel ">
                        <i class="material-icons large red-text">share</i>
                        <h3 class="red-text">Donations</h3>
                        <h5><strong>1000</strong></h5>
                    </div>   
                </div>
                <div class="col s12 m4">
                    <div class="card-panel ">
                        <i class="material-icons large red-text">people</i>
                        <h3 class="red-text">Users</h3>
                        <h5><strong>1000</strong></h5>
                    </div>   
                </div>
                <div class="col s12 m4">
                    <div class="card-panel ">
                        <i class="material-icons large red-text">pan_tool</i>
                        <h3 class="red-text">Request</h3>
                        <h5><strong>1000</strong></h5>
                    </div>   
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section coral lighten-2 section-contact scrollspy">
      <div class="container">
        <h4 class="center"> Contact <span class="red-text">BitLife</span></h4>
            <div class="row">
            
              <div class="col s12 m6">
                <div class="card-panel red white-text center">
                    <i class="material-icons">email</i>
                    <h4>Contact us for more Info</h4>
                    <p class="valign-wrapper center-align"><i class="material-icons small">email</i> BitLife@yahoo.com</p>
                    <p class="valign-wrapper center-align"><i class="material-icons small ">phone</i> +2347035734905</p>
                </div>
                
            </div>
            <div class="col s12 m6">
                <div class="card-panel">
                    <h4 class="red-text">Please fillout these form.</h4>
                    <div class="input-field">
                        <input type="text" placeholder="Enter a name">
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter a email">
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter a phone">
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" placeholder="Enter message"></textarea>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Submit" class="btn float-right" style="background:#000; color:red">
                    </div>
                </div>
            </div>
          
              
          
          </div>
      </div>
  </section>
  <section class="section section-follow red darken-2 white-text center">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Follow Us</h4>
                <p>Follow us on social media for special offers</p>
                <a href="" class="white-text">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="" class="white-text">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="" class="white-text">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="" class="white-text">
                    <i class="fab fa-google-plus fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</section>
  <footer class="section black lighten-5 white-text center">
    
    <p class="flow-text"> <span class="red-text">BitLife</span>&copy; 2020</p>
</footer>

{% endblock %}