{% extends 'base.html' %}


{% block category_section %}
    {% include 'categories_nav.html' %}
{% endblock %} 

{% block content %}
    <h2><a href="{% url 'products:site-home' %}">Home</a> </h2>
    <a href="{% url 'users:user_product_list'%}" class="btn btn-outline-secondary">Product List</a>
    {% if user %} 
        <div class="content-section">
            <div class="media">
                <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
                <div class="media-body">
                    <h4 class="account-heading">{{user.username}}</h4>
                    <p class="text-secondary">{{user.email}}</p>
                    <form action="{% url 'users:user-profile' user.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4"> Profile Info </legend>
                            {{user_form.as_p}}
                            {{profile_form.as_p}}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">update</button>
                        </div>
                        
                    </form>
                </div>
            </div>  
        </div>
    {% endif %}
{% endblock %}