{% extends 'base.html' %}


{% block category_section %}
    {% include 'categories_nav.html' %}
{% endblock %} 

{% block content %}
<h2>My Created Products</h2>
    {% if user_created_products %}
        <div class"col-sm-6">
        {% for product in user_created_products %}
        	<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{product.images.image.url}} " alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">{{product.prod_name}}</h5>
			    <p class="card-text">{{product.sub_category}}</p>
			  </div>
			  <div class="card-body">
			    <a class="btn btn-outline-secondary" href="{% url 'users:user_detail_product' product.prod_slug%}" class="card-link">view Details</a>
			  </div>
			</div>
		{% endfor %}
        </div>
    {%else%}
    <h4>No products created yet.</h4>
    {% endif %}
    
{% endblock %}

					