

{% extends 'base.html' %}


{% block category_section %}
    {% include 'categories_nav.html' %}
{% endblock %} 

{% block content %}
    <h2><a href="{% url 'products:site-home' %}">Home</a> </h2>
    <a href="{% url 'users:user_product_list'%}" class="btn btn-outline-secondary">Product List</a>
    {% if user %} 
        <div class="content-section">
            <div class="media">
                <img src="{{image.image.url}}" alt="" class="rounded-circle account-img">
                <div class="media-body">
                    
                    <p class="text-secondary">{{product.sub_category}}</p>
                    <form action="{% url 'users:user_create_product' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4"> Products Details </legend>

							<div class="card">
							  <div class="card-header">
							    Featured
							  </div>
							  <div class="card-body">
							    <h5 class="card-title">{{product.prod_name}}</h5>
							    <p class="card-text">{{product.prod_description}}</p>
							    <a href="{% url 'users:user_update_product' product.prod_slug%}" class="btn btn-outline-secondary">Update</a>
							    <a href="{% url 'users:user_delete_product' product.prod_slug%}" class="btn btn-outline-danger">Delete</a>
							  </div>
							</div>

                        </fieldset>
                       
                        
                    </form>
                </div>
            </div>  
        </div>
    {% endif %}
{% endblock %}